<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Jomura.Diagnostics.Web.HttpTrace.HttpTracePath" value="C:\trace" />
    <add key="Jomura.Diagnostics.Web.HttpTrace.TraceContent" value="true" />

    <add key="Jomura.Web.MobileFilter.MobileAgents"
         value="DoCoMo,Vodafone,SoftBank,UP.Browser,WILLCOM" />
  </appSettings>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="jo" namespace="Jomura.Web.UI.WebControls" assembly="Jomura.Framework"/>
      </controls>
    </pages>

    <httpModules>
      <add type="Jomura.Diagnostics.Web.HttpTrace,Jomura.Framework" name="HttpTrace" />

      <add type="Jomura.Web.MobileFilter,Jomura.Framework" name="MobileFilter" />
    </httpModules>
  </system.web>

</configuration>
