<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type=" log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="Jomura.Log.LogService.port" value="8085" />
    <add key="Jomura.Log.LogService.sinkUri" value="LoggingSink" />
    <!--  Client側のlog4net設定サンプル
    <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
      <sink value="tcp://localhost:8085/LoggingSink" />
      <lossy value="false" />
      <bufferSize value="2" />
      <onlyFixPartialEventData value="true" />
    </appender>
    -->
    <!-- log4net設定ファイルを別途用意する場合、完全パスで指定する。
    <add key="Jomura.Log.LogService.configPath" value="C:\log4netServSettings.xml" />
    -->
  </appSettings>
  
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${TMP}\Jomura_LogServerSample" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="date" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value='"."yyyyMMdd".log"' />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

</configuration>
