<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jomura.Framework.Test"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Jomura.Framework.Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Jomura.Framework.Test2"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Jomura.Framework.Test2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>